*.pyc
*.so
*.o
.gitignore
electrum.conf
electrum_test.conf
.idea/
build/
dist/
electrum_sibcoin_server.egg-info/
env/
electrum_data/addr/*
electrum_data/hist/*
electrum_data/undo/*
electrum_data/utxo/*
electrum_data/blockchain_headers
electrum_data/
data_sibcoind/
data_sibcoind_test/
x11_gost_hash/
electrum_sib.conf
.idea/
