*.pyc
*.so
*.o
.gitignore
electrum.conf
.idea/
build/
dist/
electrum_sibcoin_server.egg-info/
env/
electrum_data/addr/*
electrum_data/hist/*
electrum_data/undo/*
electrum_data/utxo/*
electrum_data/blockchain_headers
electrum_data/
data-sibcoind/
electrum_sib.conf
.idea/
